$color-dark-blue: rgb(28,40,35)
$color-mossy-green: rgb(62,77,53)
$color-gloomy-green: rgb(117,132,79)
$color-navi-blue: rgb(80,109,107)
$color-light-gray: rgb(180,186,186)
$color-young-red: rgb(183,78,57)

$height-primary: theme("height[12]")