@import "styles/utils/utils.sass"
@import "styles/utils/font.sass"

.button-route
    @apply flex justify-center items-center
    width: $button-width
    font-family: $font-primary
    color: white
    text-decoration: none
    &--active
        border-style: solid
        border-color: $color-orange
        border-width: 0px 0px 0.25rem 0
